.camperFeatures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 44px 80px;
    width: 631px;
    height: 588px;
    background: var(--inputs);
}

.camperFeaturesList {
    height: 164px;
    overflow: hidden;
}

.vehicleDetailsTitle {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--gray-light);
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
}

.vehicleDetailsList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    text-align: center;
    color: var(--main);
}

.vehicleDetailsItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}