.ratingAndLocation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.rating,
.location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
}

.rating svg {
    fill: var(--rating);
}