.calendar {
    border-radius: 12px;
}

.calendar :global(.react-datepicker__header) {
    border-radius: 12px 12px 0 0;
    background-color: var(--white);
    border: none;
}

.calendar :global(.react-datepicker__month) {
    padding: 20px 12px 12px 12px;
}

.calendar :global(.react-datepicker__day-names) {
    border-bottom: 1px solid #475467;
}

.calendar :global(.react-datepicker__week) {
    height: 36px;
}

.calendar :global(.react-datepicker__day) {
    width: 36px;
    height: 32px;
    margin: 0;
}

.calendar :global(.react-datepicker__day--selected),
.calendar :global(.react-datepicker__day--keyboard-selected) {
    border-radius: 32px;
    background-color: #475467;
    color: #f7f7f7;
}

.calendar :global(.react-datepicker__day-name) {
    width: 32px;
}

.day {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    color: #475467;
}