.badge {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    border-radius: 100px;
    padding: 12px 18px;
    width: fit-content;
    height: 48px;
    background: var(--badges);
}