@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

.loadingText {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    width: 100%;
    height: 100px;
    line-height: 100px;
}

.loadingTextWords {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
    filter: blur(0px);
    animation: blur-text 1.5s infinite linear alternate;
}

.loadingTextWords:nth-child(1) {
    animation-delay: 0s;
}

.loadingTextWords:nth-child(2) {
    animation-delay: 0.2s;
}

.loadingTextWords:nth-child(3) {
    animation-delay: 0.4s;
}

.loadingTextWords:nth-child(4) {
    animation-delay: 0.6s;
}

.loadingTextWords:nth-child(5) {
    animation-delay: 0.8s;
}

.loadingTextWords:nth-child(6) {
    animation-delay: 1.0s;
}

.loadingTextWords:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes blur-text {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(4px);
    }
}