.catalogSection {
    padding: 48px 64px 32px 64px;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.hidden {
    display: none;
}

.filters {
    width: 360px;
    height: 752px;
}


.campersList {
    width: 100%;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.loader {
    width: 48px;
    height: 48px;
    display: block;

    position: relative;
    border: 3px solid var(--button-hover);
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    width: 6px;
    height: 24px;
    background: var(--button-hover);
    transform: rotate(-45deg);
    position: absolute;
    bottom: -20px;
    left: 46px;
}

@keyframes animloader {
    0% {
        transform: translate(-10px, -10px);
    }

    25% {
        transform: translate(-10px, 10px);
    }

    50% {
        transform: translate(10px, 10px);
    }

    75% {
        transform: translate(10px, -10px);
    }

    100% {
        transform: translate(-10px, -10px);
    }
}

.noResults {
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

.noResultsText {
    font-size: 20px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 8px;
}

.noResultsSubtext {
    font-size: 16px;
    color: #475467;
    margin: 0;
}