.sectionCamperDetailsPage {
    padding: 48px 64px 80px 64px;
}

.tabsAndBooking {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.hidden {
    display: none;
}

.sectionCamperDescrAndGallery {
    margin-bottom: 60px;
}

.sectionNav {
    width: 100%;
    border-bottom: 1px solid var(--gray-light);
    margin-bottom: 44px;

}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}

.sectionNav li {
    cursor: pointer;
}

.tabBtn {
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
    padding-bottom: 24px;

}

.activeTabBtn {
    border-bottom: 5px solid var(--button);
}

.sectionBooking {
    padding: 44px 57px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    width: 100%;
    height: 588px;
}