.card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 24px;
    border: 1px solid var(--gray-light);
    border-radius: 20px;

    width: 888px;
    height: 368px;
}

.img {
    object-fit: cover;
    border-radius: 10px;
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--main);
    margin-bottom: 8px;
}

.priceAndHeart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}

.heartBtn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.heartBtn:active {
    transform: scale(0.9);
}

.activeHeartIcon {
    fill: var(--button);
}

.camperDescr {
    width: 525px;
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin-bottom: 24px;
}

.features {
    height: 104px;
    margin-bottom: 24px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 200px;
    padding: 16px 40px;
    width: 166px;
    height: 56px;
    background-color: var(--button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--white);
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out;
}

.btn:focus,
.btn:hover {

    background-color: var(--button-hover);
}